{% extends 'html/layout.html' %}

{% block content %}
{% load static %}

<section class="text-center" id="home" >

{% if data %}

    
     <div class="container">
            <h2>Resultat of urine</h2>
            <p>:</p>            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>DATE</th>
                  <th>ID</th>
                  <th>Albumin</th>
                  <th>PH</th>
                  <th>Nitrit</th>
                  <th>Ketone</th>
                  <th>Urobilinogen</th>
                  <th>Bilirubin</th>
                  <th>Leucocytes</th>
                  <th>Erythrocytes</th>
                  <th>Urobilinogen</th>
                  <th>Bilirubin</th>
                  <th>Leucocytes</th>
                  <th>Erythrocytes</th>
                </tr>
              </thead>
              <tbody>
                {%for element in data%}  
                    <tr>
                        <td>{{element.DateOfDemand}}</td>
                        <td>{{element.ID}}</td>
                        <td>{{element.Glucose}}</td>
                        <td>{{element.Urea}}</td>
                        <td>{{element.Creatinine}}</td>
                        <td>{{element.eGFR}}</td>
                        <td>{{element.UricAcid}}</td>
                        <td>{{element.Potassium}}</td>
                        <td>{{element.Sodium}}</td>
                        <td>{{element.Calcium}}</td>
                        <td>{{element.Phosphore}}</td>
                        <td>{{element.Magnesium}}</td>
                        <td>{{element.Cholesterol}}</td>
                        <td>{{element.Triglycerides}}</td>
                        <td>{{element.Phospqahore}}</td>
                        <td>{{element.Magnaesium}}</td>
                        <td>{{element.Choldesterol}}</td>
                        <td>{{element.Triglaycerides}}</td>
                    </tr>
                   
                {%endfor%}
 
              </tbody>
            </table>
          </div>
        
            


            
    
{% else %}

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">

        <div class="alert alert-danger" role="alert">
                No data
              </div>
</div>
<div class="col-md-4"></div>



</div>




{% endif %}

</section>

{% endblock %}